*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #AED6F1;
}
a{
    text-decoration: none;
    color: black;
}
header {
    width: 23vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}   
header .header_titulo{
    width: 18vw;
    height: 10vh;
}
header .header_titulo > h1{
    padding-top: 1vw;
    font-size: 3vw;
}
header .header_contenido{
    width: 18vw;
    height: 25vh;
}
header .header_contenido ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header .header_contenido a{
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    border-radius: 1vw;
    color: black;
}
header .header_contenido a:hover{
    background-color: #F6F6F6;
    scale: 1.05;
}
header .header_contenido a i{
    font-size: 1.7vw;
    margin-left: 1vw;
}
header .header_contenido a h1{
    font-size: 1.5vw;
}
header .header_carrito{
    width: 18vw;
    height: 6vh;
    display: flex;
    align-items: center;
}
header .header_carrito:hover{
    background-color: #F6F6F6;
    border-radius: 1vw;
    scale: 1.05;
}
header .header_carrito i{
    font-size: 2vw;
    color: black;
    margin-left: 1vw;
}
header .header_carrito > h1{
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 2vw;
    color: black
}
header .header_carrito > h2{
    display: flex;
    width: 15%;
    height: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    color: black;
    font-size: 1.3vw;
}
header .header_logo{
    width: 18vw;
    height: 10vh;
}
header .header_logo > h1{
    text-align: center;
    font-size: 1.5vw;
    padding-bottom: 1vw;
}
.contenido{
    width: 75vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 2vw;
}
.contenido > h1{
    width: 20vw;
    height: 8vh;
    color: black;
    font-size: 2vw;
    padding-top: 1vw;
    padding-left: 1vw;
}
.contenido > div{
    margin: 0 auto;
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
}
.contenido > div > section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    border-radius: 1vw;
    border: 1px solid black;
}
.contenido > div > section .imagen_1{
    width: 100%;
    height: 100%;
    background-image: url(../storage/img/buso1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    cursor: pointer;
}
.contenido > div > section .imagen_1:hover{
    transition: 0.6s;
    background-image: url(../storage/img/buso1.1);
}
.contenido > div section .item_contenido{
    display: flex;  
    gap: 3vw;
}
.contenido > div section .item_contenido .name{
    width: 10vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
.contenido > div section .item_contenido .cantidad{
    width: 10vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
.contenido > div section .item_contenido .precio{
    width: 10vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
.contenido > div section .item_contenido .subtotal{
    width: 10vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
.contenido > div section .item_contenido .eliminar a{
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    align-self: center;
    font-size: 2.5vw;
    color: red  ;
    cursor: pointer;
}
.botones{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.botones > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 6vh;
    background-color: #AED6F1;
    border-radius: 1vw;
    color: black;
    font-size: 1.4vw;
}
.botones > a:hover{
    scale: 1.05;
}
.botones > div{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
    color: black;
}
.botones > div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 6vh;
    background-color: #AED6F1;
    border-radius: 1vw;
    color: black;
    font-size: 1.4vw;
}
.botones > div a:hover{
    scale: 1.05;
}
@media screen and (max-width: 500px){
    body {
        display: flex;
        flex-direction: column;
    }
    header {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: start;
    }   
    header .header_titulo{
        width: 18vh;
        height: 4vh;
    }
    header .header_titulo > h1{
        font-size: 3vh;
    }
    header .header_contenido{
        position: absolute;
        margin-left: 25vw;
        width: 30vh;
        height: 10vh;
    }
    header .header_contenido ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    header .header_contenido a{
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 1vw;
        color: black;
    }
    header .header_contenido a i{
        font-size: 4vh;
    }
    header .header_contenido a h1{
        display: none;
    }
    header .header_carrito{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .header_carrito:hover{
        background-color: #AED6F1;
        scale: none;
    }
    header .header_carrito i{
        width: 70%;
        height: 50%;
        font-size: 4vh;
        border-radius: 1vw;
        text-align: center;
    }
    header .header_carrito i:hover{
        background-color: #F6F6F6;
        scale: 1.02;
    }
    header .header_carrito > h1{
        display: none;
    }
    header .header_carrito > h2{
        display: none;
    }
    header .header_logo {
        display: none;
    }
    .contenido{
        width: 90vw;
        height: 88vh;
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        border-radius: 2vw;
    }
    .contenido > h1{
        width: 100%;
        height: 5vh;
        font-size: 3vh;
    }
    .contenido > div{
        margin: 0 auto;
        width: 85vw;
        height: 81vh;
        overflow-y: scroll;
    }
    .contenido > h1{
        width: 100%;
        height: 10vh;
        font-size: 5vh;
    }
    .contenido > div{
        width: 100%;
        height: 80vh;
    }
    .contenido > div section .item_contenido{
        display: flex;
    }
    .name h1, .precio h1, .subtotal h1{
        display: none;
    }
    .name h2{
        font-size: 2vh;
    }
    .cantidad h1{
        padding-left: 2vh;
        font-size: 2vh;
    }
    .subtotal h2{
        font-size: 2vh;
    }
    .contenido > div section .item_contenido .eliminar a{
        width: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15vh;
        align-self: center;
        font-size: 4vh;
        color: red  ;
        cursor: pointer;
    }
    .botones{
        width: 80%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .botones > a{
        width: 20vh;
        height: 6vh;
        font-size: 3vh;
    }
    .botones > a:hover{
        scale: 1.05;
    }
    .botones > div{
        width: 20vh;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        color: black;
    }
    .botones > div h1{
        display: none;
    }
    .botones > div a{
        width: 20vh;
        height: 6vh;
        font-size: 3vh;
    }
    .botones > div a:hover{
        scale: 1.05;
    }
}