*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
header {
    width: 23vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}   
header .header_titulo{
    width: 18vw;
    height: 10vh;
    background-color: brown;
}
header .header_contenido{
    width: 18vw;
    height: 30vh;
    background-color: brown;
}
header .header_carrito{
    width: 18vw;
    height: 10vh;
    background-color: brown;
}
header .header_logo{
    width: 18vw;
    height: 10vh;
    background-color: brown;
}
.contenido{
    width: 75vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.contenido > h1{
    width: 20vw;
    height: 8vh;
    color: white;
    font-size: 2vw;
    padding-top: 1vw;
    padding-left: 1vw;
}
.contenido > div{
    margin: 0 auto;
    width: 75vw;
    height: 73vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}
.contenido > div .item_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: gray;
}
.contenido > div .item_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: green;
}
.contenido > div .item_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: pink;
}
.contenido > div .item_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: yellow;
}
.contenido > div .item_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: gray;
}
.contenido > div .item_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: green;
}
.contenido > div .item_7{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: pink;
}
.contenido > div .item_8{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.5vw;
    height: 35vh;
    background-color: yellow;
}
.contenido > div section .imagen{
    width: 17vw;
    height: 25vh;
    background-color: azure;
}
.contenido > div > section .item_contenido{
    width: 17vw;
    height: 10vh;
    background-color: black;
    border-radius: 1vw;
}
.contenido > div section .item_contenido > h1{
    padding: 0;
    width: 7vw;
    height: 50%;
    font-size: 1vw;
    color: white;
    padding-left: 1vw;
    padding-top: 0.5vw;
}
.contenido > div section .item_contenido > div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start ;
}
.contenido > div section .item_contenido > div > h1{
    margin-left: 1vw;
    color: white;
    padding: 0;
    width: 50%;
    height: 100%;
    font-size: 1vw;
}
.contenido > div section .item_contenido > div > button{
    width: 40%;
    height: 3vh;
    font-size: 1vw;
}