<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/carrito.css">
    <title>proyectoWeb</title>
</head>
<body>
    <header>
        <div class="header_titulo">
            <h1>CampusShop</h1>
        </div>
        <div class="header_contenido">
            <ul>
                <a href="../index.html">
                    <i class='bx bx-border-all'></i>
                    <h1>Todos los productos</h1>
                </a>
                <a href="abrigos.html">
                    <i class='bx bxs-face-mask'></i>
                    <h1>Abrigos</h1>
                </a>
                <a href="camisas.html">
                    <i class='bx bxs-t-shirt'></i>
                    <h1>Camisas</h1>
                </a>
                <a href="pantalones.html">
                    <i class='bx bxs-arch'></i>
                    <h1>Pantalones</h1>
                </a>
            </ul>
        </div>
        <a href="carrito.html" class="header_carrito">
            <i class='bx bxs-cart' ></i>
            <h1>Carrito</h1>
            <h2>3</h2>
        </a>
        <div class="header_logo">
            <h1>Fear of Good <br>  x   <br> Pilotebas</h1>
        </div>
    </header>
    <section class="contenido">
        <h1>Carrito</h1>
        <div>
            <section class="item">
                <div class="imagen"><img src="" alt=""></div>
                <div class="item_contenido">
                    <div class="name">
                        <h1>Nombre</h1>
                        <h2></h2>
                    </div>
                    <div class="cantidad">
                        <h1>Cantidad</h1>
                        <h1></h1>
                    </div>
                    <div class="precio">
                        <h1>Precio</h1>
                        <h1></h1>
                    </div>
                    <div class="subtotal">
                        <h2>Subtotal</h2>
                        <h2>$</h2>
                    </div>
                    <div class="eliminar">
                        <i class='bx bx-trash'></i>
                    </div>
                </div>
            </section>
            <div class="botones">
                <a href="carritovacio.html">Vaciar Carrito</a>
                <div>
                    <h1>Total <br>$ 4.000</h1>
                    <a href="#">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>