<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/carritovacio.css">
    <title>proyectoWeb</title>
</head>
<body>
    <header>
        <div class="header_titulo">
            <h1>CampusShop</h1>
        </div>
        <div class="header_contenido">
            <ul>
                <a href="../index.html">
                    <i class='bx bx-border-all'></i>
                    <h1>Todos los productos</h1>
                </a>
                <a href="../views/abrigos.html">
                    <i class='bx bxs-face-mask'></i>
                    <h1>Abrigos</h1>
                </a>
                <a href="./.views/camisas.html">
                    <i class='bx bxs-t-shirt'></i>
                    <h1>Camisas</h1>
                </a>
                <a href="../views/pantalones.html">
                    <i class='bx bxs-arch'></i>
                    <h1>Pantalones</h1>
                </a>
            </ul>
        </div>
        <a href="../views/carrito.html" class="header_carrito">
            <i class='bx bxs-cart' ></i>
            <h1>Carrito</h1>
            <h2>3</h2>
        </a>
        <div class="header_logo">
            <h1>Fear of Good <br>  x   <br> Pilotebas</h1>
        </div>
    </header>
    <section class="contenido">
        <h1>Carrito</h1>
        <h2>Tu carrito esta vacio</h2>
    </section>
</body>
</html>