<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/Landing pages de hamburguesa.css">
    <title>Landing pages de hamburguesa</title>
</head>
<body>
    <header>
        <h1>Foods</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="home">
        <div>
            <div>
                <h2>Full Website</h2>
                <p>Foods the <br>Most precious thing </p>
                <button>Today's menu</button>
            </div>
            <img src="../storage/img/home.png" alt="">
        </div>
    </section>
    <section id="about" class="about">
        <div class="imagen"><img src="../storage/img/abouut.png" alt=""></div>
        <div class="contenido_about">
            <h1>About Us</h1>
            <h2>We speak the good <br>food language</h2>
            <p>It is a long established fact that a <br>be distracted by the readable content <br>looking at its layout. The point of</p>
            <button>Learn more</button>
        </div>
    </section>


    <section id="menu" class="menu">
        <p>Food Menu</p>
        <h2>Fresh taste and grat price</h2>
        <div class="menu_imagenes">
            <div class="contenido_menu">
                <img src="../storage/img/food1.png" alt="">
                <p>Chicken Burger</p>
                <p>Tasty food</p>
                <p>$11.00</p>
            </div>
            <div class="contenido_menu">
                <img src="../storage/img/food2.png" alt="">
                <p>Special Beef Burger</p>
                <p>Tasty food</p>
                <p>$11.00</p>
            </div>
            <div class="contenido_menu">
                <img src="../storage/img/food3.png" alt="">
                <p>Chicken Fry Pack</p>
                <p>Tasty food</p>
                <p>$11.00</p>
            </div>
        </div>
    </section>
    <section id="service" class="service"></section>
    <section id="contact" class="contact"></section>
</body>
</html>