<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/Landing pages de hamburguesa.css">
    <title>example</title>
</head>
<body>
    <header>
        <h1>Foods</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="home">
        <div>
            <div>
                <h2>Full Website</h2>
                <p>Foods the <br>Most precious thing </p>
                <button>Today's menu</button>
            </div>
            <img src="../storage/img/home.png" alt="">
        </div>
    </section>

    <section id="about" class="about"></section>
    <section id="home" class="menu"></section>
    <section id="service" class="service"></section>
    <section id="contact" class="contact"></section>
</body>
</html>